#card{
    color: var(--orange);
    background-color: var(--marron);
    transition: 0.4s;
    text-decoration: none;
}
#card:hover{
    transform: scale(1.05);
}
.btnCard{
    color: var(--orange);
    border: none;
    border-radius: 5px;
    height: 40px;
    font-family: droidserif, arial;
}
.btnCard:hover{
    transition: 0.5s;
    transform: scale(1.05);
}